@import "../mainPage/main-page.css";


.expenseIncomeTitles {
    -fx-font-size: 18;
}

.table-view .column-header {
    -fx-background-color: #00009D;
}

.table-view .column-header .label {
    -fx-text-fill: white;
}

.table-view .table-column {
    -fx-alignment: center;
}

.addButtons {
    -fx-background-color: #004f27;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.addButtons:hover, .addButtons:focused {
    -fx-background-color: #003A1D;
}

#removeButton {
    -fx-background-color: #8B0000;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-font-size: 13;
}

#removeButton:hover, #removeButton:focused {
    -fx-background-color: #6B0000;
}
