@import "../mainPage/main-page.css";

.root {
  -fx-background-color: #f2f2f2;
}

.button {
  -fx-background-color: #00009D;
  -fx-text-fill: white;
  -fx-padding: 10px;
  -fx-cursor: hand;
}

.button:hover, .button:focused {
  -fx-background-color: #296AA5;
}

